<%- include("partials/header.ejs") %>
    <!-- 1. Lag innlogging med brukernavn og passord.  -->
    <h2>Ansattside</h2>
    
    <!-- Sjekk om variabelen finnes -->
    <% if (!locals.innlogget) { %>
    <h3>Logg inn for å se tickets.</h3>

    <form action="/adminsubmit" method="post">
        <label for="inpUser">Brukernavn:</label><br>
        <input type="text" name="adminuser" id="inpUser"><br>
        <label for="inpPass">Passord:</label><br>
        <input type="password" name="adminpassword" id="inpPass"><br>
        <input type="submit" value="Logg inn">
    </form>

    <% } if(locals.feilmelding) { %>
        <p>Feilmelding: <%= feilmelding  %></p>
    <% } if(locals.innlogget) { %>

        <!-- Her vises tickets, dersom brukeren er logget inn -->
        <h3>Tickets:</h3>

        <table>
            <thead>
                <tr>
                    <!-- ticketnr,navn,epost,problemtype,beskrivelse -->
                    <th>Ticketnr</th>
                    <th>Navn</th>
                    <th>E-post</th>
                    <th>Problemtype</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
           
            <% tickets.forEach(ticket => { %> <!-- En ny rad for hver ticket -->
                <tr> 
                   <% ticket.split(",").forEach(ticketdata => { %> <!-- En ticketdata for hver celle-->
                <td><%= ticketdata %></td>
                <% }); %>
                </tr>
            <% }); %>   
        
    </tbody>
    </table>
    
    <h3>Registrer ferdig løst ticket.</h3>
    <form action="/ferdig" method="post">
        <label for="inpTicketnr">Ticketnr:</label><br>
        <select name="ticketnr" id="" required>
            <option value="">Velg ticketnr...</option>
            <% 
            tickets.forEach(ticket => {  
            let ticketnr = ticket.split(",")[0]; 
            %>
            <option value="<%= ticketnr %>"><%= ticketnr %></option>
            <% }); %>
        </select>
        <input type="submit" value="Marker som ferdig">
    </form>
    <% if (locals.success) { %>
        <p>Saken ble markert som løst</p>
   <% } %>
        <% } %>
    <!-- 2. Skjema her, avslutt med submit knapp
    3. På server side: Man kommer hit ved å skrive localhost:3000/admin .
        Dette må dere fikse i index.js.
    4. Legg inn adminbruker med passord inni .env, og lag variabler i index.js.
    5. Kjør brukersjekk på serverside (i index.js), hvis ok, vis fram alle tickets i liste eller tabell.
    6. Server-side kjører res.render("admin.ejs", loginStatus), der loginStatus brukernavn på admin og om brukeren er pålogget. 
    -->
</body>
</html>